<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if( user ) { %>
        Bem vindo <%= user.username %>
    <%  } %>

    <a href='/messenger'> Mensagens </a>
    <a href='/logout'>Logout</a>
  </body>
</html>
