<DOCTYPE html>
        <html>
          <head>
            <title>Adicionar usuario</title>
            <link rel='stylesheet' href='/stylesheets/style.css' />
          </head>
          <body>
            <h1>Formulario</h1>
    
            <form action="/users/submit" method="POST" >

                <label for="name" >Nome</label>
                <input type="text" name="name">

                <label for="age" >Idade</label>
                <input type="text" name="age">

                <button type="submit">OK</button>
            </form>
          
          </body>
        </html>
        